
/**

Calendar wrapper css

*/

.ipenelo-calendar-wrapper {
	height:400px;
	width:590px;
	float:none;
	margin-top: 1px;
}

.ipenelo-calendar-wrapper input {
}


.ipenelo-calendar-form {
	-moz-border-radius:5px;
	background-color:#36387B;
	color:#FFFFFF;
	float:left;
	font-size:16px;
	height:252px;
	line-height:10px;
	margin-top:0px;
	padding:20px;
	text-shadow:0 0 5px #DDDDDD;
	width:590px;
}





/** tooltip css */


.ipenelo-calendar-day {
	background-color:#545454;
	color:#222;
	font-size:16px;
	display: table;
	line-height:10px;
	padding:20px;
	width:590px;
	z-index: 5;
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
	border: 1px solid #fcf4c3;
}

.ipenelo-calendar-day span {
	display:block;
	font-size:16px;
	text-align:center;		
}

.ipenelo-calendar-day table {
	border: 0px solid #545454;
	width: 580px;
	background: #fcf4c3;
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
}

.ipenelo-close {
	cursor: pointer;
	display: block;
	height: 24px;
	width: 24px;
	font-size: 0 !important;
	background: url('../img/window-close.png');
	float: right;
	margin-right: -16px;
	margin-top: -16px;
}

.ipenelo-calendar-day table th, .ipenelo-calendar-day table td {
	text-align: center;
	padding: 10px 0;
	border: 0px solid #545454;
	color: #777;
        background: inherit;
}

.ipenelo-calendar-registrant-form-wrapper th {
    background: inherit;
}

.ipenelo-calendar-day table thead th {
	border-bottom: 1px solid #545454;
	color: #900;
}
.ipenelo-calendar-day table td {
	color: #777;
	font-size: 14px;
}

.ipenelo-calendar-day th.background {
	width: 110px;
	font-weight: bold;
	border-right: 1px solid #545454;
}
.ipenelo-calendar-day th.status, .ipenelo-calendar-day td.status {
	width: 120px;
}


.ipenelo-calendar-day td.background {
	width: 32px;
	padding: 10px 5px;
}

.ipenelo-calendar-day span.ipenelo-category {
	width: 32px;
	display: block;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}


.ipenelo-calendar-day td.time {
	width: 78px;
	border-right: 1px solid #545454;
}
.ipenelo-calendar-day td.title {
	text-align: left;
	padding-left: 10px;
	line-height: 18px;
}

.ipenelo-calendar-day td.title a {
	cursor: pointer;
	color: #555;
}
.ipenelo-calendar-day td.title a:hover {
	color: #900;
	text-decoration: none;
}


.ipenelo-calendar-day td.price {
	width: 80px;
	font-weight: bold;
}

.ipenelo-calendar-day a.ipenelo-register {
	display: block;
	background: #fcf4c3;
	border: 1px solid #545454;
	width: 90px;
	padding: 5px;
	color: #900;
	text-decoration: none;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:inset 0 0 10px 0px #000;
	-moz-box-shadow:inset 0 0 10px 0px #000;
	-webkit-box-shadow:inset 0 0 10px 0px #000;
}

.ipenelo-calendar-day a.ipenelo-register:hover {
	text-decoration: none;
}

/** end of tooltip css */


/** start table-view css */



.ipenelo-calendar-table {
	border: 1px solid #545454 !important;
	background-color:#fcf4c3;
	color:#222;
	font-size:16px;
	width:98%;
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
}
.ipenelo-calendar-table span {
	display:block;
	font-size:16px;
	text-align:center;
}


.ipenelo-calendar-table th, .ipenelo-calendar-table td {
	text-align: center;
	padding: 10px 0;
	border: 0px solid #545454;
	color: #777;
}
.ipenelo-calendar-table thead th {
	border-bottom: 1px solid #545454;
	text-transform: none;
	font-size: 16px;
	color: #900;
}
.ipenelo-calendar-table td {
	color: #777;
	font-size: 14px;
}

.ipenelo-calendar-table th.background {
	width: 110px;
	font-weight: bold;
	border-right: 1px solid #545454;
}
.ipenelo-calendar-table th.status, .ipenelo-calendar-day td.status {
	width: 120px;
}


.ipenelo-calendar-table td.background {
	width: 32px;
	padding: 10px 5px;
}

.ipenelo-calendar-table span.ipenelo-category {
	width: 32px;
	display: block;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}


.ipenelo-calendar-table td.time {
	width: 78px;
	border-right: 1px solid #545454;
	
}
.ipenelo-calendar-table td.title {
	text-align: left;
	padding-left: 10px;
	line-height: 18px;
}

.ipenelo-calendar-table td.title a {
	cursor: pointer;
	color: #555;
}

.ipenelo-calendar-table td.title a:hover {
	color: #900;
	text-decoration: none;
}

.ipenelo-calendar-table td.price {
	width: 80px;
	font-weight: bold;
}

.ipenelo-calendar-table a.ipenelo-register {
	display: block;
	background: #fcf4c3;
	border: 1px solid #545454;
	width: 90px;
	padding: 5px;
	color: #900;
	text-decoration: none;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border-radius: 5px;
	box-shadow:inset 0 0 10px 0px #000;
	-moz-box-shadow:inset 0 0 10px 0px #000;
	-webkit-box-shadow:inset 0 0 10px 0px #000;
}

.ipenelo-calendar-table a.ipenelo-register:hover {
	text-decoration: none;
}


/** end table-view css */



/**************/
/* the input field */
.ipenelo-calendar-input {
	border:1px solid #ccc;
	font-size:18px;
	padding:4px;
	text-align:center;
	width:180px;		
	box-shadow:0 0 10px #eee inset;
	-moz-box-shadow:0 0 10px #eee inset;
	-webkit-box-shadow:0 0 10px #eee inset;
}

/* end calendar wrapper css */

/* start calendar css */

/* default calendar - medium sized */

.calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:1;	
	margin-top:-26px;	
	width:370px;	
}

.calroot #calbody {
	clear:both;
	font-family:sans-serif;		
	width:364px;
	font-size:13px;
	border:1px solid #545454;
	border-width:1px 1px 0;
	background: url("../img/tl.png") no-repeat scroll -18px -10px #545454;
	box-shadow:0 0 10px 0px #ccc;
	-moz-box-shadow:0 0 10px 0px #ccc;
	-webkit-box-shadow:0 0 10px 0px #ccc;
}

.calroot #calhead {
	margin-left:195px;
	margin-right: 4px;
	background: #545454;
	height: 24px;
	color: #fcf4c4;
	position: relative;
	z-index: 1;
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

.calroot #caltitle {
	font-family:sans-serif;		
	text-align:center;
	font-size:14px;
	float:left;
	width:122px;
}

.calroot #calnext, .calroot #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url("../img/prev.gif") no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

.calroot #calnext {
	background-image:url("../img/next.gif");
	float:right;
}

.calroot #calprev.caldisabled, .calroot #calnext.caldisabled {
	visibility:hidden;	
}

.calroot #caldays span {
	display:block;
	float:left;
	width:52px;
	text-align:center;
	font-weight:bold;
	padding:4px 0;
	font-size:11px;
	color:#fcf4c3;
	line-height:18px;
}

.calroot #calweeks {
	
}

.calroot .calweek {
	clear:left;
	height:50px;
	border-bottom:1px solid #545454;
	border-top:1px solid #545454;
}


.calroot .calweek a {
	display:block;
	float:left;
	width:50px;
	height:50px;
	text-decoration:none;
	font-size:15px;
	text-align:center;
	line-height:50px;
	border-right:1px solid #545454;
	border-left:1px solid #545454;
	text-shadow:1px 1px 1px #fff;

	background:#fcf4c3;
	color:#777;
	border-radius-topleft:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px; 		

} 

.calroot a.calsunday {
	color:#900 !important;
}

.calroot .calweek a:hover, .calroot .calfocus {
	background: #fcf4c3;
}

.calroot .calsun {
	color:#900 !important;
}

.calroot a.caloff {
	text-shadow: 0px 0px 0px;
	background-color:#5e5e5e;
	color:#777 !important;		
}

.calroot a.caloff.calfocus {
	font-weight: bold;
}

.calroot .caldisabled {
	text-shadow: 0px 0px 0px !important;
	background-color:#5e5e5e !important;
	color:#777	!important;
	cursor:default;

}

.calroot .caloff:hover {
	background: #fcf4c3;
}


.calroot #caltitle select {
	font-size:10px;	
}

/* current day */
.calroot #calcurrent {
	color:#777;
	text-shadow:1px 1px 1px #000;
	border:0;
	width:52px;
	background-image:none;
	box-shadow:inset 0 0 10px 0px #000;
	-moz-box-shadow:inset 0 0 10px 0px #000;
	-webkit-box-shadow:inset 0 0 10px 0px #000;
}

/* today */
.calroot #caltoday {
	background-color:#666;
	color:#fff;
	text-shadow:0 1px 0 #000;
}

/* end default medium sized calendar */

/** start small calendar */


.calrootsmall {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:1;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background: url("../img/tl.png") no-repeat scroll -18px -10px #545454;
	font-size:11px;
	overflow: visible;
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	box-shadow: 0 0 15px #666;
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
.calrootsmall #calhead {	
	padding:2px 0;
	height:22px;
} 

.calrootsmall #caltitle {
	font-size:14px;
	color:#fcf4c3;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
}

.calrootsmall #calnext, .calrootsmall #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url("../img/prev.gif") no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

.calrootsmall #calnext {
	background-image:url("../img/next.gif");
	float:right;
}

.calrootsmall #calprev.caldisabled , .calrootsmall #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
.calrootsmall #caltitle select {
	font-size:10px;	
}

/* names of the days */
.calrootsmall #caldays {
	height:16px;
/*	border-bottom:1px solid #fcf4c3; */
}

.calrootsmall #caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
	color: #fcf4c3;
}

/* container for weeks */
.calrootsmall #calweeks {
	background-color:#545454;
	margin-top:4px;
}

/* single week */
.calrootsmall .calweek {
	clear:left;
	height:22px;
}

/* single day */
.calrootsmall .calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	background:#fcf4c3;
	color:#000;
	border-radius-topleft:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px; 		
} 

/* different states */
.calrootsmall .calweek a:hover , .calrootsmall .calfocus {
	font-weight: bold;
}

/* sunday */
.calrootsmall a.calsun {
	color:#900 !important;
}
.calrootsmall a.calsunday {
	color:#900 !important;
}

/* offmonth day */
.calrootsmall a.caloff {
	background-color:#5e5e5e;
	color:#777 !important;		
}

.calrootsmall a.caloff:hover {
	background-color:#fcf4c3;		
}


/* unselecteble day */
.calrootsmall a.caldisabled {
	background-color:#5e5e5e !important;
	color:#777	!important;
	cursor:default;
}

/* current day */
.calrootsmall #calcurrent {
	background-color:#fcf4c3;
	font-weight: bold;
	box-shadow:inset 0 0 10px 0px #000;
	-moz-box-shadow:inset 0 0 10px 0px #000;
	-webkit-box-shadow:inset 0 0 10px 0px #000;
	
}

/* today */
.calrootsmall #caltoday {
	background-color:#333;
	color:#fff;
}

.ipenelo-calrootsmall {
	height: 220px !important;
}
/* end small calendar */

/** start large size calendar */

.calrootlarge {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:1;	
	margin-top:-26px;	
	width:630px;	
}

.calrootlarge #calbody {
	clear:both;
	font-family:sans-serif;		
	width:630px;
	font-size:16px;

	border:1px solid #545454;
	border-width:1px 1px 0;
	background: url("../img/tl.png") no-repeat scroll -18px -10px #545454;
	box-shadow:0 0 10px 0px #ccc;
	-moz-box-shadow:0 0 10px 0px #ccc;
	-webkit-box-shadow:0 0 10px 0px #ccc;


}

.calrootlarge #calhead {

	margin-left:195px;
	margin-right: -2px;
	background: #545454;
	height: 24px;
	color: #fcf4c4;
	position: relative;
	z-index: 1;
	border-radius-topleft: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;


}

.calrootlarge #caltitle {
	font-family:sans-serif;		
	text-align:center;
	font-size:14px;
	float:left;
	width:390px;
}

.calrootlarge #calnext , .calrootlarge #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url("../img/prev.gif") no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

.calrootlarge #calnext {
	background-image:url("../img/next.gif");
	float:right;
}

.calrootlarge #calprev.caldisabled, .calrootlarge #calnext.caldisabled {
	visibility:hidden;	
}

.calrootlarge #caldays span {
	display:block;
	float:left;
	width:90px;
	text-align:center;
	font-weight:bold;
	padding:4px 0;
	font-size:11px;
	color:#fcf4c3;
	line-height:18px;
	background:#545454;
}

.calrootlarge #calweeks {
	
}

.calrootlarge .calweek {
	clear:left;
	height:50px;
	border-bottom:1px solid #545454;
	border-top:1px solid #545454;
}


.calrootlarge .calweek a {
	display:block;
	float:left;
	width:88px;
	height:50px;
	text-decoration:none;
	font-size:21px;
	font-weight: bold;
	text-align:center;
	line-height:50px;
	border-right:1px solid #545454;
	border-left:1px solid #545454;
	text-shadow:1px 1px 1px #fff;

	background:#fcf4c3;
	color:#777;
	border-radius-topleft:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px; 		

} 

.calrootlarge a.calsunday {
	color:#900 !important;
}

.calrootlarge .calweek a:hover, .calrootlarge .calfocus {
	background:#fcf4c3;
}

.calrootlarge .calsun {
	color:#900 !important;
}

.calrootlarge a.caloff {
	text-shadow: 0px 0px 0px;
	background-color:#5e5e5e;
	color:#777 !important;		
}

.calrootlarge a.caloff.calfocus {
	font-weight: bold;
}

.calrootlarge .caldisabled {
	text-shadow: 0px 0px 0px !important;
	background-color:#5e5e5e !important;
	color:#777	!important;
	cursor:default;
}

.calrootlarge .caloff:hover {
	background-color:#fcf4c3;		
}


.calrootlarge #caltitle select {
	font-size:10px;	
}

/* current day */
.calrootlarge #calcurrent {

	color:#777;
	text-shadow:1px 1px 1px #000;
	border:0;
	width:90px;
	background-image:none;
	box-shadow:inset 0 0 10px 0px #000;
	-moz-box-shadow:inset 0 0 10px 0px #000;
	-webkit-box-shadow:inset 0 0 10px 0px #000;


}

/* today */
.calrootlarge #caltoday {
	background-color:#666;
	color:#fff;
	text-shadow:0 1px 0 #000;
}

/* end large size calendar */

/**  end calendar css */




div.error {
	z-index: 9999;
    background-color: #FFEBE8;
    border-color: #CC0000;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px 15px 2px;
    padding: 0 0.6em;
}

div.error p , #message p {
	margin: 0;
}

.form-table td {
	padding: 5px;
}


#message {
    background-color: #FFFFE0;
    border-color: #E6DB55;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 16px 8px;
    padding: 12px;
}


div.ipenelo_colordiv {
	height: 32px;
	width: 32px;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.ipenelo-calendar-registrant-form-wrapper {
	background: #fcf4c3;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px solid #ccc;
}

div.ipenelo-calendar-registrant-form {
	color: #777;
	margin-left: 10px;
}

div.ipenelo-calendar-registrant-form h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	padding-top: 7px;
}

div.ipenelo-calendar-registrant-form a.ipenelo-register, 
div.ipenelo-calendar-registrant-form input.ipenelo-register
{
	display: block;
	background: #fcf4c3;
	border: 1px solid #545454;
	width: 90px;
	padding: 5px;
	color: #900;
	text-decoration: none;
	line-height: 20px;
	margin-left: 5px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow:inset 0 0 10px 0px #000;
	-moz-box-shadow:inset 0 0 10px 0px #000;
	-webkit-box-shadow:inset 0 0 10px 0px #000;

}

div.ipenelo-calendar-event {
	color: #777;
}

div.ipenelo-calendar-event h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	padding-top: 7px;
}
div.ipenelo-calendar-event div.row {
	clear: both;
	float: none;
	display: table;
	width: 100%;
}

div.ipenelo-calendar-event div.row:first-child {
	border-top: 1px solid #ccc;
	padding-top: 5px;
}

div.ipenelo-calendar-event div.background {
	float: left;
	width: 32px;
	padding: 0 10px;
}

div.ipenelo-calendar-event div.background > div {
	border-radius: 5px;
}

div.ipenelo-calendar-event div.title {
	float: left;
	padding: 0 10px;
	text-align: center;
	width: 85%;
}

div.ipenelo-calendar-event div.cost {
	float: right;
	width: 250px;
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
}
div.ipenelo-calendar-event div.url {
	float: left;
	padding: 0 10px;
	width: 100%;
	text-align: center;
}

div.ipenelo-calendar-event div.url a:hover {
	color: #222 !important;
	text-decoration: none;
}


div.ipenelo-calendar-event div.active_from {
	float: left;
	width: 50%;
	padding: 10px;
	text-align: left;
}
div.ipenelo-calendar-event div.active_to {
	float: left;
	padding: 10px;
	text-align: left;
}

div.ipenelo-calendar-event div.description {
	padding: 10px;
	border-top: 1px solid #ccc;
}
div.ipenelo-calendar-event div.description span > div {
	padding: 0 !important;
}


div.ipenelo-calendar-event div.last_registration_allowed {
	text-align: center;
	float: left;
	padding: 0 10px;
}

div.ipenelo-calendar-event div.free_spots {
	float:right;
	padding-right: 10px;
}

.ipenelo-small {
	font-size: 10px !important;
}


div.ipenelo_hidden {
	display: none;
}



a.info-icon {
	display: inline-block;
	width: 16px;
	border: 1px solid #545454;
	color: #545454 !important;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	padding: 0px 1px;
	text-align: center;
	font-size: 10px;
	font-style: italic;
}

a.info-icon:hover {
	text-decoration: none;
	color: #900 !important;
	border: 1px solid #900;
}
div.ipenelo-calendar-free {
    width: 590px;
    height: 50px;
}
